@if (isEditModeActive() && form) {
    <ng-container [formGroup]="form">
        <input
            #singleLineInput
            autofocus
            type="text"
            formControlName="singleLine"
            [placeholder]="placeholder()"
            [class.full-width]="fullWidth()"
            [class.!text-right]="textRight()"
            (keyup.enter)="onExitEditMode(true)"
            (keyup.escape)="onExitEditMode(false)"
            (focus)="$any($event.target).select()"
        />
        <!--            (blur)="onExitEditMode(false)"-->
    </ng-container>
} @else {
    <span
        class="px-1"
        [class.text-right]="textRight()"
        [class.block]="!noBlock()"
        [class.empty]="formValueIsEmpty"
        [class.text-2xs]="isFormValueEmptyAndNotInEditMode"
        (dblclick)="onEnterEditMode()"
    >
        <span class="inline-block">{{ formValue }}</span>
    </span>
}
