<div class="checklist-preview">
    <!-- @TODO: CSS for responsive view for every page. If enough space, show pages horizontal, if not vertical -->
    @for (checklistPage of paginatedChecklist(); let i = $index; track i) {
        <page
            [attr.size]="checklistPage.pageSize"
            [attr.orientation]="checklistPage.pageOrientation"
            [style.font-size.pt]="checklistPage.fontSize"
            [style.font-family]="checklistPage.fontFamily"
        >
            <div [ngClass]="columnCssClass()">
                @for (checklistItem of checklistPage.checklistItems; track checklistItem.id) {
                    @switch (checklistItem.type) {
                        @case (ChecklistItemType.SubChecklist) {
                            <div [ngClass]="outlineCssClass()">
                                <h3 [ngClass]="borderBCssClass()">{{ checklistItem.title }}</h3>
                                <ul
                                    class="checklist"
                                    [ngClass]="checklistStyleCssClass()"
                                >
                                    @for (subChecklistItem of checklistItem['items']; track subChecklistItem.id) {
                                        @switch (subChecklistItem.type) {
                                            @case (SubChecklistItemType.CheckItem) {
                                                <li>
                                                    <span>
                                                        <span>{{ subChecklistItem.item }}</span>
                                                    </span>
                                                    <span>
                                                        <span>{{ subChecklistItem.action }}</span>
                                                    </span>
                                                </li>
                                            }
                                            @case (SubChecklistItemType.Precondition) {
                                                <li class="precondition">{{ subChecklistItem.text }}</li>
                                            }
                                            @case (SubChecklistItemType.Postcondition) {
                                                <li class="postcondition">{{ subChecklistItem.text }}</li>
                                            }
                                            @case (SubChecklistItemType.Subtitle) {
                                                <li class="subtitle">{{ subChecklistItem.text }}</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        }
                        @case (ChecklistItemType.TextBox) {
                            <div [ngClass]="outlineCssClass()">
                                {{ checklistItem.text }}
                            </div>
                        }
                        @case (ChecklistItemType.SectionTitle) {
                            <div [ngClass]="outlineCssClass()">
                                <h3>{{ checklistItem.text }}</h3>
                            </div>
                        }
                        <!-- @TODO: To handle page-breaks, we have to group the items before into pages -->
                        @case (ChecklistItemType.ColumnBreak) {
                            <div class="break-before-column"></div>
                        }
                    }
                }
            </div>
        </page>
    }
</div>
