@import 'base';

@media print {
    @page {
        size: landscape;
    }

    body {
        width: 8.5in;
        height: 5.5in;

        .checklist-preview > page {
            width: 8.5in;
            height: 5.5in;
        }
    }
}
