/* You can add global styles to this file, and also import other style files */

//@import 'primeng/resources/themes/tailwind-light/theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';

body {
    @apply bg-neutral-100 dark:bg-neutral-800 text-neutral-800 dark:text-neutral-300;
}

a/*,
button*/ {
    @apply font-medium hover:text-secondary-700;
}

a:not([href]) {
    cursor: pointer;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

//p {
//    @apply mb-5;
//}

// Reset primeng styles
.p-toast {
    width: initial;
}
