//@import 'primeng/resources/themes/tailwind-light/theme.css';

@use 'primeicons/primeicons.css';

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer primeng;

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
    @tailwind variants;
}

//@import 'primeng/resources/primeng.css';
//@import 'primeng/resources/themes/aura-light-amber/theme.css'; // @TODO: Need dynamic import of this theme for dark/light scheme
//@import 'primeng/resources/themes/aura-dark-amber/theme.css';

:root {
    --cx-preview-background: white;
    --cx-action-background: theme('colors.neutral.300');
    --cx-action-background-hover: theme('colors.neutral.200');
}

body {
    @apply bg-neutral-100 dark:bg-neutral-800 text-neutral-800 dark:text-neutral-300;

    font-family: system-ui, ui-sans-serif, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

a {
    @apply font-medium hover:text-sky-700; // hover:text-secondary-700;
}

a:not([href]) {
    cursor: pointer;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

// Reset primeng styles
.p-toast {
    width: initial;
}

// global checklist preview styles
.checklist-preview {
    @media screen {
        @apply p-3;
        @apply bg-neutral-100;
    }

    @apply select-none;
    @apply text-neutral-900;

    page {
        padding: 5mm;

        margin-top: 5mm;
        margin-bottom: 5mm;
        display: block;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        background-color: var(--cx-preview-background) !important;

        @media screen {
            @apply mx-auto;
            @apply p-2;
        }

        &.fs8 {
            font-size: 8pt;

            li {
                height: 12px;
            }
        }
        &.fs9 {
            font-size: 9pt;

            li {
                height: 14px;
            }
        }
        &.fs10 {
            font-size: 10pt;

            li {
                height: 16px;
            }
        }
        &.fs11 {
            font-size: 11pt;

            li {
                height: 18px;
            }
        }
        &.fs12 {
            font-size: 12pt;

            li {
                height: 20px;
            }
        }

        &[size='A4'] {
            width: 210mm;
            height: 296mm;

            &[orientation='Landscape'] {
                width: 296mm;
                height: 210mm;
            }
        }

        &[size='A5'] {
            width: 147mm;
            height: 210mm;

            &[orientation='Landscape'] {
                width: 210mm;
                height: 147mm;
            }
        }

        &[size='Letter'] {
            width: 8.5in;
            height: 11in;

            &[orientation='Landscape'] {
                width: 11in;
                height: 8.5in;
            }
        }

        &[size='HalfLetter'] {
            width: 5.5in;
            height: 8.5in;

            &[orientation='Landscape'] {
                width: 8.5in;
                height: 5.5in;
            }
        }

        .header {
            @apply flex;
            @apply flex-wrap;
            @apply gap-1;
            @apply mb-3;

            > * {
                &:not(:first-child) {
                    flex: 1 1 20%;
                }

                &:first-child {
                    @apply w-full;
                }
            }
        }

        .columns-2,
        .columns-3,
        .columns-4 {
            @apply h-full;
            @apply gap-1; // @TODO: make option, like border width, ...

            //column-fill: auto;

            div:not(.actions) {
                .textbox-with-title {
                    .text {
                        @apply p-1;

                        line-height: 1.1;
                        margin-bottom: 0;
                    }
                }

                &.column-break {
                    @apply break-before-column;
                }

                &:not(.column-break) {
                    @apply break-inside-avoid-column;
                    @apply border-solid;
                    @apply border-neutral-900;
                    @apply mb-2;
                    //@apply rounded-sm; 🤔

                    > h3 {
                        @apply border-neutral-900;
                        @apply border-b-neutral-900;
                        @apply text-center;
                        @apply font-bold;

                        padding-top: 1px;
                        padding-bottom: 1px;
                    }
                }
            }

            &.is-edit [cdkDrag] {
                h3 {
                    @apply cursor-grab;
                }

                .textbox {
                    span[cdkDragHandle] {
                        @apply cursor-grab;
                        @apply block;
                        @apply min-h-5;

                        background: #d4d4d4;
                        //background-size: 10px 10px;
                        //background-image: repeating-linear-gradient(135deg, #c4c4c4 0, #c4c4c4 1px, #d4d4d4 0, #d4d4d4 50%);

                        margin: -0.25rem -0.25rem 0.25rem -0.25rem;
                    }
                }

                //.column-break {
                //    @apply cursor-move;
                //    @apply border;
                //    @apply border-dashed #{!important};
                //    @apply border-neutral-700 #{!important};
                //    @apply p-1;
                //}
            }

            .cdk-drag-custom-placeholder {
                @apply bg-neutral-200;
                @apply min-h-20;

                transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
            }

            .cdk-drag-preview {
                @apply box-border;
                @apply rounded-md;

                box-shadow:
                    0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
            }

            .cdk-drag-animating {
                transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
            }

            [cdkDropList].cdk-drop-list-dragging [cdkDrag]:not(.cdk-drag-placeholder) {
                transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
            }

            .subchecklist {
                position: relative;

                div.actions {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                ul.checklist {
                    @apply list-none;
                    @apply overflow-x-hidden;
                    @apply mr-1;
                    @apply pb-1;

                    //line-height: 1.5;

                    li {
                        @apply flex;
                        @apply justify-between;

                        &:before {
                            @apply whitespace-nowrap;
                            @apply w-0;
                        }

                        span {
                            &:first-child span {
                                @apply pr-1;
                            }

                            &:last-child:not(.pi) {
                                @apply pl-1;

                                span {
                                    @apply pl-1;
                                }
                            }
                        }

                        //span:first-child {
                        //    @apply min-w-fit;
                        //}

                        &.precondition,
                        &.postcondition,
                        &.subtitle,
                        &.text {
                            //@apply pl-1;

                            //&.text-right {
                            //    span {
                            //        @apply pr-0;
                            //    }
                            //}
                        }

                        &.precondition,
                        &.postcondition,
                        &.subtitle {
                            @apply font-semibold;
                        }

                        &.precondition,
                        &.postcondition {
                            @apply italic;
                        }

                        &.postcondition {
                            @apply flex-row-reverse;
                            //@apply pr-2;
                        }
                    }

                    &.dots li.checkitem:before {
                        font-family: sans-serif !important;
                        content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';
                        letter-spacing: -0.5px;
                    }

                    &.line li.checkitem:before {
                        font-family: sans-serif !important;
                        content: '________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________';
                    }

                    &.middots li.checkitem:before {
                        font-family: monospace !important;
                        content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';
                        font-size: 80%;
                        letter-spacing: -3px;
                    }

                    &.middashed li.checkitem:before {
                        font-family: monospace !important;
                        content: '-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------';
                        letter-spacing: 3px;
                    }

                    &.dashed li.checkitem:before {
                        font-family: monospace !important;
                        content: '________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________';
                        font-size: 80%;
                        letter-spacing: 4px;
                    }

                    &.cx-table {
                        margin-left: 0;
                        margin-right: 0;

                        li {
                            @apply pr-1;

                            &:nth-child(even) {
                                @apply bg-neutral-300;

                                span {
                                    @apply bg-neutral-300;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media print {
        body,
        page {
            margin: 0;
            box-shadow: none;
        }

        @page {
            size: A4 landscape;
        }
    }
}
