@if (isEditModeActive() && form) {
    <ng-container [formGroup]="form">
        <textarea
            autofocus
            #multiInput="cdkTextareaAutosize"
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="7"
            formControlName="multiLine"
            (keyup.escape)="onExitEditMode(false)"
        ></textarea>
        <!--            (blur)="onExitEditMode(true)"-->
        <div class="flex flex-row-reverse">
            <p-button
                size="small"
                [class.block]="isEditModeActive()"
                (click)="onExitEditMode(true)"
            >
                {{ lblSaveButton() }}
            </p-button>
        </div>
    </ng-container>
} @else {
    <span
        (dblclick)="onEnterEditMode()"
        [innerHtml]="formValue | cxNl2Br"
    ></span>
}
